In [1]:
import sys
sys.path.append('../')
import tabularepimdl as tepi

import pandas as pd

start init of withFilters
start init simpletransition
end simple transition init

In [2]:
df = pd.DataFrame({
    "InfState": ["I", "I", "I", "I", 'S', 'S', 'S', 'S'],
    "Host":     ['cattle', 'cattle', 'human', 'human', 'cattle', 'cattle', 'human', 'human'],
    "N": [3, 4, 50, 60, 70, 80, 20, 30]
})

In [5]:
# Create an instance of the filtered infection rule for 'cattle'
filtered_cattle_rule = tepi.FilteredSimpleInfection(beta=0.1, column="InfState", s_st="S", i_st="I", inf_to='I', filter_column="Host", filter_value=["cattle"], stochastic=False)

# Apply the filter to get cattle deltas of I -> R
cattle_deltas = filtered_cattle_rule.get_deltas(df)
cattle_deltas

  InfState    Host         N
0        S  cattle -0.311407
1        S  cattle -0.355894
2        I  cattle  0.311407
3        I  cattle  0.355894

In [6]:
determ_epi_mdl = tepi.EpiModel(init_state = df, rules=[filtered_cattle_rule], stoch_policy = 'rule_based')

In [7]:
for i in range(4):
    determ_epi_mdl.do_timestep(dt=0.25)
determ_epi_mdl.full_epi

   InfState    Host           N     T
0         I  cattle    3.000000  0.00
1         I  cattle    4.000000  0.00
2         I   human   50.000000  0.00
3         I   human   60.000000  0.00
4         S  cattle   70.000000  0.00
5         S  cattle   80.000000  0.00
6         S   human   20.000000  0.00
7         S   human   30.000000  0.00
8         I  cattle    7.167104  0.25
9         I   human  110.000000  0.25
10        S  cattle  149.832896  0.25
11        S   human   50.000000  0.25
12        I  cattle    7.338005  0.50
13        I   human  110.000000  0.50
14        S  cattle  149.661995  0.50
15        S   human   50.000000  0.50
16        I  cattle    7.512779  0.75
17        I   human  110.000000  0.75
18        S  cattle  149.487221  0.75
19        S   human   50.000000  0.75
20        I  cattle    7.691504  1.00
21        I   human  110.000000  1.00
22        S  cattle  149.308496  1.00
23        S   human   50.000000  1.00

In [8]:
determ_epi_mdl.cur_state

  InfState    Host           N    T
0        I  cattle    7.691504  1.0
1        I   human  110.000000  1.0
2        S  cattle  149.308496  1.0
3        S   human   50.000000  1.0